:root {
    --clr-slate-900: hsl(218, 44%, 22%);
    --clr-slate-500: hsl(216, 15%, 48%);
    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-base: 'Outfit', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: 15px;
    --fs-700: 22px;

    --spacing-500: 2.5rem;
    --spacing-300: 1.6rem;
    --spacing-200: 1.067rem;
}

body {
    font-family: var(--ff-base), sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    line-height: 1.4;
    letter-spacing: .2px;
    background-color: var(--clr-slate-300);
    text-align: center;
}

h1 {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    line-height: 1.2;
    color: var(--clr-slate-900);
}

p {
    color: var(--clr-slate-500);
    padding: 0 1rem 1rem;
}

.container {
    width: 20rem;
    background-color: var(--clr-neutral-100);
    padding: 1rem;
    border-radius: 1.15rem;
    margin: 0 auto;
}

img {
    border-radius: 0.8rem;
    margin-bottom: 1.25rem;
}

